body {
    box-sizing: border-box;
    margin:0;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 20px 30px;
}
h1, h2 {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}
h2 {
    color:white;
}

.contenedor-flex-start {
    /* display:inline-flex; */
    display: flex;
    border: 3px solid black;
    /* height: 400px; */
    /* align-content: flex-start; */
    justify-content: flex-start;
}

.contenedor-flex-end {
    /* display:inline-flex; */
    display: flex;
    border: 3px solid black;
    /* height: 400px; */
    /* align-content: flex-start; */
    justify-content: flex-end;
}

.contenedor-flex-center {
    /* display:inline-flex; */
    display: flex;
    border: 3px solid black;
    /* height: 400px; */
    /* align-content: flex-start; */
    justify-content: center;
}

.contenedor-flex-around {
    /* display:inline-flex; */
    display: flex;
    border: 3px solid black;
    /* height: 400px; */
    /* align-content: flex-start; */
    justify-content: space-around;
}

.contenedor-flex-between {
    /* display:inline-flex; */
    display: flex;
    border: 3px solid black;
    /* height: 400px; */
    /* align-content: flex-start; */
    justify-content: space-between;
}

.contenedor-flex-align-start {
    /* display:inline-flex; */
    display: flex;
    border: 3px solid black;
    flex-flow: row wrap;
    height: 400px;
    align-content: flex-start;
    /* justify-content: space-between; */
}

.contenedor-flex-align-end {
    /* display:inline-flex; */
    display: flex;
    border: 3px solid black;
    flex-flow: row wrap;
    height: 400px;
    align-content: flex-end;
    /* justify-content: space-between; */
}

.elemento-flex {
    padding: 10px;
    background-color: #E53935;
}
.elemento-flex:nth-child(1) {
}

.elemento-flex:nth-child(2) {
    background-color: #8E24AA;
}

.elemento-flex:nth-child(3) {
    background-color: #3F51B5;
}